*{margin:0;padding:0;}
:focus {outline:none;}
ul,a{text-decoration: none;list-style: none;}
body{width: 100vw;height: 100vh;background-color: #000;overflow: hidden;padding:30px 72px;box-sizing:border-box;position: relative;}
header .pc{width:100%;margin:0 auto 20px;display: flex;justify-content: space-between;align-items: center;}
header .pc nav{display: flex;justify-content:center;align-items: center;}
header .pc nav a{color: rgba(255, 255, 255, 0.75);margin-right:116px;}
header .pc nav a:hover{color: #fff;}
header .pc nav a:nth-child(3){margin-right:0;}
#main .pc{position: relative;width:100%;margin:0 auto;overflow: hidden;}
.left{position:fixed;left:0;top:40%;width:110px;object-fit: contain;z-index:2;}
.right{position:fixed;right:0;bottom:0;width:68px;object-fit: contain;}
.bannerWP {width:100%;margin:0 auto;width:100%;}
#main .pc .owl-carousel .owl-item img{width:74%;height:55vh;position: absolute;bottom:80px;right:0;}
#main .pc .owl-carousel .owl-item .item{height:80vh;position: relative;}
#main .pc .owl-carousel .owl-item .item.red{background-color:#dd9999;}
#main .pc .owl-carousel .owl-item .item.purple{
background: -moz-linear-gradient(-45deg,  #6cdfe5 0%, #8e91f0 50%, #ffa5b9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #6cdfe5 0%,#8e91f0 50%,#ffa5b9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #6cdfe5 0%,#8e91f0 50%,#ffa5b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cdfe5', endColorstr='#ffa5b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
    #main .pc .owl-carousel .owl-item .item.blue{background-color:#7aadd9;}
    #main .pc .owl-carousel .owl-item .item.yellow{background-color:#bc9d56;}
    #main .pc .owl-carousel .owl-item .item.green{background-color:#91b288;}
    
    /*banner tab*/
    #main .pc .no-js .owl-carousel, .owl-carousel.owl-loaded{position: relative;}
    #main .pc .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background:transparent}
    #main .pc .owl-theme .owl-dots .owl-dot.active span{font-size:17px;}
    #main .pc .owl-theme .owl-nav.disabled+.owl-dots{margin-top:-80px;display:flex;align-items: center;justify-content: flex-start;
    position:relative;z-index: 2;position: absolute;right:0;width:74%;}
    #main .pc .owl-theme .owl-dots .owl-dot{width:19%;}
    #main .pc .owl-theme .owl-dots .owl-dot span{width:100%;height:80px;line-height:80px; background-color:rgba(216, 216, 216, 0.24);border-radius:0;margin:0;font-size: 16px;}
    #main .pc .owl-theme .owl-dots .owl-dot:nth-child(3) span,
    #main .pc .owl-theme .owl-dots .owl-dot:nth-child(5) span{line-height:20px;padding:20px 0;box-sizing:border-box;}
    #main .pc .owl-theme .owl-dots .owl-dot:nth-child(1) span:before{content:'面子的事 刻不容緩';}
    #main .pc .owl-theme .owl-dots .owl-dot:nth-child(2) span:before{content:'無國界通路 一指登入';}
    #main .pc .owl-theme .owl-dots .owl-dot:nth-child(3) span:before{content:'不用面對面\A近看無暇的容貌';white-space:pre;}
    #main .pc .owl-theme .owl-dots .owl-dot:nth-child(4) span:before{content:'科技無距更美麗';}
    #main .pc .owl-theme .owl-dots .owl-dot:nth-child(5) span:before{content:'數據分析\A撒豆成兵';white-space:pre;}
    #main .pc .owl-theme .owl-dots .owl-dot span:before{color:#fff;}
    #main .pc .owl-theme .owl-dots .owl-dot.active:nth-child(1) span:before{color:#ff6d67;}
    #main .pc .owl-theme .owl-dots .owl-dot.active:nth-child(2) span:before{color:#ffb3f7;}
    #main .pc .owl-theme .owl-dots .owl-dot.active:nth-child(3) span:before{color:#7aadd9;}
    #main .pc .owl-theme .owl-dots .owl-dot.active:nth-child(4) span:before{color:#bc9d56;}
    #main .pc .owl-theme .owl-dots .owl-dot.active:nth-child(5) span:before{color:#91b288;}
    #main .pc .owl-theme .owl-dots .owl-dot.active{background: #000;}
    /*text*/
    #main .pc .owl-carousel .owl-item .item .content{position: absolute;left:54px;top:25%;z-index:2;}
    #main .pc .owl-carousel .owl-item .item .content .title{font-size:72px;font-family: 'PingFangTC-Semibold';letter-spacing: 2.5px;color: #fff;}
    #main .pc .owl-carousel .owl-item .item .content .info{margin-top: 48px;margin-left:156px; display: flex; justify-content:flex-start;align-items: flex-start;}
    #main .pc .owl-carousel .owl-item .item .content .info img{width:20px;height: 20px;left: 0;padding-top:0;
    top: 9px;object-fit: contain;position: relative;}
    #main .pc .owl-carousel .owl-item .item .content .info p{font-size: 32px;letter-spacing: 1.2px;margin-left: 12px;color: #fff;}
    /*Mnav*/
    header #Mnav{width:100%;text-align:left;background-color:rgba(0, 0, 0, 0.87);
        position:fixed;top:0;right:0;z-index:5;display:none;}
    header #Mnav ul{height:100vh;display: flex;justify-content: center;align-items: center;flex-direction: column;}
    header #Mnav ul,header #Mnav ul li{width:100%;margin:0 auto;line-height:70px;flex-direction:column;}
    header #Mnav ul li a{display:block;max-width:1000px;width:90%;margin:0 auto;
    box-sizing: border-box;line-height:70px;font-size:1.4rem;color:#fff;text-align:center;} 
    header #Mnav>ul li:hover{background-color:#00459d;}
    header #Mnav>ul li:hover>a{color:#fff;}
    /*header .mobile*/
    header .mobile{display: none;justify-content: space-between;align-items: center;padding:0 35px;box-sizing: border-box;}
    header .mobile img{width: 150px;object-fit: contain;}
    header .mobile nav{display: block;width:30px;height:16px;cursor:pointer;position:relative;z-index:6;}  
    header .mobile nav span{position: absolute;display: block;width:100%;height:2px;background: #fff;
    -webkit-transition: all .3s ease 0s;transition: all .3s ease 0s;}
    header .mobile nav span:nth-of-type(1){top:2px;}
    header .mobile nav span:nth-of-type(2){top:12px;width:22px;right:0;}
    .menuOpen header .mobile nav span:nth-of-type(1){top: 12px;transform: rotate(45deg);-webkit-transform: rotate(45deg);background:#fff;}
    .menuOpen header .mobile nav span:nth-of-type(2){width: 100%;top: 12px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);background:#fff;}
    /*main .mobile*/
    #main .mobile {display: none;position: relative;}
    #main .mobile .owl-theme .owl-nav.disabled+.owl-dots {width:100%;display:flex;justify-content: center;align-items: center;
        position: absolute;bottom: 230px;}
    #main .mobile .owl-theme .owl-dots .owl-dot span{width: 18px;height: 6px;background: rgba(255, 255, 255, 0.53);}
    #main .mobile .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background: #fff;}
    #main .mobile .owl-carousel .owl-item img {display: block;width:100%;height:auto;position:absolute;bottom:0;}
/*
    #main .mobile .owl-carousel .owl-item .item.purple img{top: 147px;}
    #main .mobile .owl-carousel .owl-item .item.blue img{top:179px;}
    #main .mobile .owl-carousel .owl-item .item.yellow img{top:120px;}
    #main .mobile .owl-carousel .owl-item .item.green img{top:144px;}
*/
    #main .mobile .owl-carousel{height:94vh;}
    #main .mobile .down{background-color:rgba(0, 0, 0, 0.78);display:flex;justify-content:center;align-items:center;height:100px;
    position: fixed;z-index: 2;bottom:0;width:100%;}
    #main .mobile .down a{display:block;width:150px;height: 36px;line-height:36px;border-radius:20px;margin:0 20px;text-align:center;color: #fff;}
    #main .mobile .down a:nth-child(1){background-color:#fe495b;}
    #main .mobile .down a:nth-child(2){background-color:#349cf5;}
    #main .mobile .owl-carousel .owl-item .item{height:100vh;}
    #main .mobile .owl-carousel .owl-item .item.red{background:url('img/mobile/p1-b.png') no-repeat center;background-size: cover; }
    #main .mobile .owl-carousel .owl-item .item.purple{background:url('img/mobile/p2-b.png') no-repeat center;background-size: cover; }
    #main .mobile .owl-carousel .owl-item .item.blue{background:url('img/mobile/p3-b.png') no-repeat center;background-size: cover; }
    #main .mobile .owl-carousel .owl-item .item.yellow{background:url('img/mobile/p4-b.png') no-repeat center;background-size: cover; }
    #main .mobile .owl-carousel .owl-item .item.green{background:url('img/mobile/p5-b.png') no-repeat center;background-size: cover; }
    /*main .mobile text*/
    #main .mobile .owl-carousel .owl-item .item .content{margin-left:35px;padding-top:39px;position: relative;z-index: 2;}
    #main .mobile .owl-carousel .owl-item .item .content .time,
    #main .mobile .owl-carousel .owl-item .item .content .info .title,
    #main .mobile .owl-carousel .owl-item .item .content .info p{color:#fff;}
    #main .mobile .owl-carousel .owl-item .item .content .info .title{font-size:28px;margin:20px 0 3px;}
    #main .mobile .owl-carousel .owl-item .item .content .info p{font-size:18px;}

    @media(max-width:1600px){
        #main .pc .owl-carousel .owl-item img,
        #main .pc .owl-theme .owl-nav.disabled+.owl-dots{width:80%;}
        #main .pc .owl-theme .owl-dots .owl-dot span{font-size:14px;}
    }
    @media(max-width:1500px){
        #main .pc .owl-carousel .owl-item .item .content .title{font-size:64px;}
        #main .pc .owl-carousel .owl-item .item .content .info p{font-size:28px;}
        #main .pc .owl-carousel .owl-item .item .content .info{margin-top: 40px;}
    }
    @media(max-width:1400px){
        header .pc .top{padding:30px 72px;}
        #main .pc .owl-carousel .owl-item .item .content .title{font-size:52px;}
        #main .pc .owl-carousel .owl-item .item .content .info{margin-left: 131px;}
    }
    @media(max-width:1200px){
       #main .pc .owl-carousel .owl-item img,
       #main .pc .owl-theme .owl-nav.disabled+.owl-dots{width:90%;}
       #main .pc .owl-carousel .owl-item .item .content{top:17%;}
       #main .pc .owl-carousel .owl-item img{padding-top:65px;box-sizing: border-box;object-fit: cover;object-position:right top;}
       #main .pc .owl-carousel .owl-item .item.green img{object-position:left top;}
    }
    @media(max-width:1155px){
       #main .pc .owl-carousel .owl-item .item.green .content{top:8%;}
       #main .pc .owl-carousel .owl-item .item .content{left: 35px;}
       #main .pc .owl-carousel .owl-item .item.green .content .info {margin-top: 3px;}
       header .pc nav a{margin-right:90px;}
    }
    @media(max-width:1000px){
       #main .pc .owl-carousel .owl-item img,
       #main .pc .owl-theme .owl-nav.disabled+.owl-dots{width: 93%;}
    }
    @media(max-width:902px){
        header .pc,#main .pc{display:none;}
        header .mobile{display:flex;height:144px;}
        #main .mobile{display: block;}
        body{padding:0;}
        #main .mobile {display: block;}   
    }
     @media(max-width:750px){
         header .mobile{height:65px;}
         header .mobile img{width:100px;}
         header .mobile nav{width:20px;height:16px;}
         header .mobile nav span:nth-of-type(2){width: 16px;}
    }
    @media(max-width:600px){
        #main .mobile .owl-theme .owl-nav.disabled+.owl-dots{bottom:20px;}
    }
    @media(max-width:450px){
        #main .mobile .owl-carousel .owl-item .item .content .info .title{font-size:22px;}
    }
    @media(max-width:320px){
        header #Mnav ul li a{font-size: 16px;}
        header .mobile{padding:0 15px;}
        #main .mobile .owl-carousel .owl-item .item .content{margin-left:15px;padding-top: 29px;position:relative;z-index: 2;}
        #main .mobile .owl-carousel .owl-item .item .content .info .title{font-size:22px;}
        #main .mobile .down{height:80px;}
    }